
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500&family=Big+Shoulders+Display:wght@300;400&display=swap');


body{
    font-family: 'Inter', sans-serif;
    background-color: rgba(25, 91, 140, 1);
    color: rgba(231, 236, 239, 1);
}

.nav {
    background-color: rgba(231, 236, 239, 0.15);
    height: 90px;
}
.barra_nav{
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color:  white;
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.hero{
    background-image: url(../IMAGENES/Fondo_Hero_PS7.jpg);
    background-position-x: 40%;
    max-height: 100%;
    height: 695px;
    padding-bottom: 100px;
    
}

.contenido_hero {
    display: ;
    background-color:#dd2c383f;
    padding: 10% 0% 0% 10%;
    max-width: 80%;
    
}

.img_box {
    display: inline;
}
.titulo_img{
    max-width: 25%;
    
}

.titulo_box{
    display: inline-block;
    background-color:#31d8693f;
    max-width: 30%;
}
.titulo{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
}

.box-precio {
    display: inline-block;
    background-color: #DD2C38;
    color: rgba(231, 236, 239, 1);
    width: 50px;
    padding: 10px;

}

.icono-pentagono {
    background-color: orange;
    color: black;
    height: 130px;
    width: 130px;
    
}